/lab1/moore_machine.json
/lab1/mealy_machine.json
/lab1/input1.txt
/idea/
/lab1/input.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_10_2024_0_19_[Changes]/shelved.patch
/.idea/TAiFYA.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_10_2024_0_19__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
